@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(carousel.css);
html {
    background-color: #191e32;
}

.navbar {
    margin-top: 10px;
    position: relative;
    padding: 10px;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu li {
    position: relative;
    padding-left: 10px;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    color: #FCEBD1;
    margin-right: 20px;
}

.nav-menu li a {
    position: relative;
    text-decoration: none;
    color: #FCEBD1;
    border-radius: 8px;
    background-color: transparent;
    padding: 5px 20px;
    transition: all 0.25s ease;
}

.nav-menu li a:hover {
    color: #FCEBD1;
    background-color: #fab17a;
    color: #191e32;
}

.bigContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}

.titleContainer {
    width: 612px;
    height: 252px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-bottom: 17px;
}

.titleContainer img {
    width: 120%;
    height: 120%;
    object-fit: contain;
}

.logoContainer {
    display: flex;
    justify-content: center;
}

.logoContainer img {
    width: 28%;
    height: 28%;
    object-fit: contain;
}

.subTContainer {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #fab17a;
    margin-top: -59px;
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    font-size: 33.7px;
}

.gameEngContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.gameEngBox {
    background-color: #b3bbea;
    height: 365px;
    width: 280px;
    border-radius: 35px;
    margin: 10px;
}

.gameEngTitle {
    color: #1a4674;
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    margin-top: -7px;
}

.gameEngText {
    color: #191e32;
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    font-size: 14.5px;
    text-align: left;
    margin-top: -10px;
    margin-left: 17px;
    margin-right: 17px;
}

.progLogoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progLogoRow {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.progImg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progImg img {
    width: 156px;
    height: auto;
}

.headerContainer {
    width: 500px;
    height: 152px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 17px;
}

.title1 {
    width: 75%;
    height: auto;
    margin-left: 60px;
    min-width: 150px;
}

.title2 {
    width: 75%;
    height: auto;
    margin-left: 109px;
    min-width: 150px;
}

.title3 {
    width: 75%;
    height: auto;
    margin-left: 70px;
    min-width: 150px;
}

ul.list1 {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #b3bbea;
    margin-left: 170px;
    margin-top: -59px;
    font-family: 'poppins', sans-serif;
    font-weight: 700;
}

.tableContainer {
    padding: 0px 100px 100px;
    overflow-x: auto;
}

table {
    width: 100%;
    font-family: 'poppins', sans-serif;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    text-align: left;
    color: azure;
}

table th, table td {
    border: 1px solid #b3bbea;
    padding: 10px 15px;
}

table th {
    background-color: #161626;
    font-weight: bold;
}

table tr:hover {
    background-color: #2b2a45;
}

.formContainer {
    padding: 20px;
    background-color: #2b2a45; 
    color: white;
    border-radius: 20px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.formContainer h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    font-family: 'poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input,
form textarea,
form select {
    font-family: 'poppins', sans-serif;
    padding: 10px;
    margin: 5px 0 15px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    background-color: #161626; 
    color: white;
}

form input:focus,
form textarea:focus,
form select:focus {
    outline: none;
    border: 2px solid #444;
}

form button {
    padding: 10px;
    background-color: #161626;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: 'poppins', sans-serif;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #38385e;
}
